@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

[hidden] {
  display: none;
}

@font-face {
  font-family: "Helvetica Neue For Number";
  src: local("Helvetica Neue");
  unicode-range: U+30-39;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  min-width: 1320px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .el-button+.el-button {
    margin-left: 0px;
  }
  .right-button {
    float: right;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.table-border.addTable {
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-select {
    width: 100%;
  }
  .el-input {
    &__inner {
      // border: none !important;
      border-color: #ffffff;
      border-radius: 0px;
      width: 100%;
    }
  }
  .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
    border-color: #f56c6c;
  }
  .el-form-item__error {
    // position: relative;
    // margin-left: 7px;
    transform: translate(0,-100%);
    z-index: 1;
    top: -20%;
    // left: auto;
    width: 120px;
    padding: 5px 12px;
    line-height: 15px;
    color: #f60;
    font-size: 12px;
    background: #F9E3D4;
    border: 1px solid #f60;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    // right: -106px;
    &:before {
      left: 51px;
      top: 100%;
      // margin-top: 7px;
      border-color: #f60 transparent transparent transparent;
      border-width: 7px 7px 0 7px;  
    }
    &:after {
      left: 52px;
      top: 100%;
      // margin-top: -6px;
      border-color: #F9E3D4 transparent transparent transparent;
      border-width: 6px 6px 0 6px;
    }
    &:before, &:after {
      position: absolute;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      border-style: dashed solid dashed dashed;
      display: inline-block;
      content: '';
      overflow: hidden;
      // top: 50%;
    }
  }
}

.historyDialog {
  .el-dialog__body{
    padding: 12px 16px;
    .search {
      background-color: #f5f7fb;
      border: 1px solid #e4e7ed;
      padding: 10px;
      .el-date-editor .el-range-separator {
        padding: 0;
        width: 10%;
      }
      .el-date-editor .el-range__close-icon {
        position: absolute;
        right: -3px;
        top: 0px;
      }
      .el-date-editor .el-range__icon {
        width: 20px;
      }
      .el-date-editor--daterange.el-input__inner {
        width: 200px;
        &:focus, &:hover {
          .el-range-input{
            background-color: #ceeaff;
            color: #0b8bef;
          }
        }
      }
      .keyword {
        width: 380px;
        margin-left: 2px;
      }
      .el-button {
        margin-left: 1px;
      }
      .el-button+.el-button {
        margin-left: 1px;
      }
    }
    .el-table--border {
      border-color: #e4e7ed;
    }
    .el-table--border td, .el-table--border th {
      border-color: #e4e7ed;
    }
    .el-table {
      margin-top: 14px;
      thead {
        tr {
          background-color: #edf2f8;
          th {
            padding: 0;
          }
          .cell {
            text-align: center;
            font-size: 14px;
            color: #303133;
            height: 32px;
            line-height: 32px;
          }
        }
      }
      tbody {
        td {
          padding: 0;
        }
        .cell {
          height: 34px;
          line-height: 34px;
          text-align: center;
          font-size: 12px;
          color: #606266;
        }
      }
      .el-radio__label {
        display: none;
      }
    }
    .el-table thead tr{
      background-color: #edf2f8;
    }
    .el-table__body tr.current-row>td {
      background-color: #e0f2ff;
    }
    .stowage {
      &.dispatch {
        td {
          vertical-align: top;
        }
      }
      thead tr th {
        padding: 10px 0;
      }
      .cell {
        height: auto !important;
        line-height: 20px !important;
        text-align: left !important;
        padding:10px;
        .goods {
          height: auto;
          line-height: 20px;
          margin-right: 10px;
          margin-bottom: 10px;
          padding-right: 10px;
          position: relative;
          div {
            display: inline-block;
          }
          .el-icon-close {
            position: absolute;
            top: 2px;
            right: 1px;
          }
          .el-input-number--medium {
            width: 80px;
          }
          .el-input__inner {
            padding: 0 5px;
            height: 23px;
            line-height: 23px;
          }
          &.goods {
            margin-left: 0px;
          }
        }
      }
    }
    .source {
      padding: 12px 0 12px 0;
      .el-tag+.el-tag {
        margin-left: 10px;
      }
      .goods {
        height: auto;
        line-height: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        &.goods {
          margin-left: 0px;
        }
      }
    }
  }
  .page {
    text-align: right;
    font-size: 14px;
    color: #303133;
    overflow: hidden;
    .pagination {
      padding-top: 18px;
      .el-pagination.is-background .el-pager li.active {
        background-color: #0b8bef;
      }
    }
  }
  .dialog-footer {
    text-align: center;
  }
}